<%- include('partials/top') %>
<main>
   <ul>
	<% for (let i = 0; i < posts.length; i++) { %>
        <li>
           <a href="<%= posts[i].link %>/"><%= posts[i].title %> by <%= posts[i].author %></a> 
        </li>
   <% } %>
   </ul>
</main>
<%- include('partials/bottom') %>